{% extends 'main/user_layout.html' %}
{% load static %}
{% load main_filters %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'main/account.css' %}">
{% endblock style %}
{% block title %}
    <title>Accounts</title>
{% endblock %}
{% block body %}
<div class="container py-5">
    {% for account in object_list %}
    <div class="row justify-content-center" onclick="location.href='{% url 'main:account_detail' pk=account.id %}'"
        style="cursor: pointer;">
        <div class="col-lg-12">
            <div class="card l-bg-{{account.currency.id|modulus:7}}">
                <div class="card-statistic-3 p-4">
                    <div class="card-currency card-icon-large"><span class="fas">{{account.currency.symbol}}</span>
                    </div>
                    <div class="mb-4">
                        <h3 class="card-title mb-0">{{account.name}}</h3>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-6">
                            <h4 class="d-flex align-items-center mb-0">
                                Balance: {{account.balance}} {{account.currency.symbol}}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}