{% extends 'main/user_layout.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/account.css' %}">

{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center py-3">
        <div class="col-lg-12">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><span class="fas">{{account.currency.symbol}}</span></div>
                    <div class="mb-4">
                        <h3 class="card-title mb-0">{{account.name}}</h3>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h4 class="d-flex align-items-center mb-0">
                                Balance: {{account.balance}} {{account.currency.symbol}}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            {% include 'main/table_transactions.html' %}
        </div>
    </div>
</div>
        

{% endblock %}
{% block script %}

{% endblock %}