{% extends 'main/user_layout.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'main/account.css' %}">

{% endblock %}
{% block title %}
    <title>Account Details</title>
{% endblock %}
{% block body %}
{% csrf_token %}
{% include 'main/group_account_bar_table_paginator_chart.html' %}
{% include 'main/chart_modal.html' %}

{% endblock %}
{% block script %}
<script src="{% static 'main/account_detail.js' %}" type="module"></script>
{% include 'main/account_detail_chart_script.html' %}
{% endblock %}