{% extends 'main/user_layout.html' %}
{% load static %}
{% load mptt_tags %}
{% block style %}
{% endblock %}
{% block body %}
    <div class="container-lg bg-light py-3 my-2">
        <div class="row">
            <div class="col-lg-6 text-left border-end border-muted">
                <div class="col text-center">
                    <h4>Expense Categories</h4>
                </div>
                
                <ul class="list-group my-2">
                    {% recursetree expense_categories %}
                        {% if node.level|divisibleby:2 %}
                            <li class="list-group-item bg-white">
                        {% else %}
                            <li class="list-group-item bg-light">
                        {% endif %}
                            {{ node.name }} 
                            &nbsp&nbsp&nbsp <!-- spaces -->
                            <a href="{% url 'main:edit_expense_category' pk=node.id %}"><i class="bi bi-pencil-square"></i></a>
                            <button type="button" class="btn px-0 delete-expense-button" data-bs-toggle="modal" data-bs-target="#deleteExpenseCategoryModal" data-node-id="{{node.id}}">
                                <i class="bi bi-trash"></i>
                            </button>
                            <a href="{% url 'main:create_expense_subcategory' pk=node.id %}"><i class="bi bi-diagram-2"></i></a>
                            {% if not node.is_leaf_node %}
                                <ul class="list-group my-2">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>                
            </div>
            <div class="col-lg-6 text-left">
                <div class="col text-center">
                    <h4>Income Categories</h4>
                </div>
                <ul class="list-group my-2">
                    {% recursetree income_categories %}
                        {% if node.level|divisibleby:2 %}
                            <li class="list-group-item bg-white">
                        {% else %}
                            <li class="list-group-item bg-light">
                        {% endif %}
                            {{ node.name }} 
                            &nbsp&nbsp&nbsp <!-- spaces -->
                            <a href="{% url 'main:edit_income_category' pk=node.id %}"><i class="bi bi-pencil-square"></i></a>
                            <button type="button" class="btn px-0 delete-income-button" data-bs-toggle="modal" data-bs-target="#deleteIncomeCategoryModal" data-node-id="{{node.id}}">
                                <i class="bi bi-trash"></i>
                            </button>
                            <a href="{% url 'main:create_income_subcategory' pk=node.id %}"><i class="bi bi-diagram-2"></i></a>
                            {% if not node.is_leaf_node %}
                                <ul class="list-group my-2">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul> 
            </div>
        </div>
    </div>
    
    <!-- Modals -->
    <div class="modal fade" id="deleteExpenseCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detele Expense Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this category? All sub-categories will be deleted.
                </div>
                <div class="modal-footer">
                    <form action="{% url 'main:delete_expense_category' %}" method="post">
                        {% csrf_token %}
                        <input id="expense-category-id" type="hidden" name="category_id" value="">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteIncomeCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detele Income Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this category? All sub-categories will be deleted.
                </div>
                <div class="modal-footer">
                    <form action="{% url 'main:delete_income_category' %}" method="post">
                        {% csrf_token %}
                        <input id="income-category-id" type="hidden" name="category_id" value="">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  

{% endblock %}
{% block script %}
<script src="{% static 'main/categories.js' %}"></script>
{% endblock %}