{% extends 'main/user_layout.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'main/account.css' %}">

{% endblock %}
{% block title %}
    <title>Category Details</title>
{% endblock %}
{% block body %}
{% csrf_token %}
<div class="container">
    <div class="row text-center m-3">
        <h3>{{category}} Category Details</h3>
    </div>
    <div class="row justify-content-center mb-3">
        {% include 'main/time_select_buttons.html' %}
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center" id="table-paginator-group">
            {% with table_title='Transactions' %}
            {% with table_template='main/table_transactions.html' %}
                {% include 'main/group_table_paginator.html' %}
            {% endwith %}
            {% endwith %}
        </div>
        <div class="col-lg-6 text-center bg-light p-3">
            {% include 'main/category_detail_chart.html' %}
        </div>
    </div>
</div>
{% include 'main/chart_modal.html' %}

{% with modal_title='Delete Transaction' %}
{% with modal_message='Do you really want to delete this transaction? Account balance will be withdrawn.' %}
{% with object_class='Transaction' %}
    {% include 'main/modal_delete_button.html'%}
{% endwith %}   
{% endwith %}   
{% endwith %}

{% endblock %}
{% block script %}
<script src="{% static 'main/category_detail.js' %}" type="module"></script>
{% include 'main/category_detail_chart_script.html' %}
{% endblock %}