{% extends 'main/user_layout.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'main/account.css' %}">

{% endblock %}
{% block title %}
    <title>Category Details</title>
{% endblock %}
{% block body %}
{% csrf_token %}
<div class="container">
    <div class="row text-center m-3">
        <h3>{{category}} Category Details</h3>
    </div>
    <div class="row justify-content-center mb-3">
        {% include 'main/time_select_buttons.html' %}
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div id="transactions-table" data-time="all">
                {% include 'main/table_transactions.html' %}
            </div>
            <div id="paginator-div" class="d-flex justify-content-center my-3">
                {% include 'main/paginator.html' with paginator=transactions.paginator page_obj=transactions %}
            </div>
        </div>
        <div class="col-lg-6 text-center bg-light p-3">
            <h3> Stats & Graphs</h3>

            {% include 'main/category_detail_chart.html' %}

        </div>
    </div>
</div>
{% include 'main/chart_modal.html' %}

{% endblock %}
{% block script %}
<script src="{% static 'main/category_detail.js' %}"></script>
{% include 'main/category_detail_chart_script.html' %}
{% endblock %}