<script id="chart-script">
    let expenseLabels = [{% for key, value in expense_stats.items %}'{{key}}', {% endfor %}];
    let incomeLabels = [{% for key, value in income_stats.items %}'{{ key }}', {% endfor %}];
    let expenseData = [{% for key, value in expense_stats.items %}{{ value.sum }}, {% endfor %}];
    let incomeData = [{% for key, value in income_stats.items %}{{ value.sum }}, {% endfor %}];
    let comparisonData = [{% for key, value in comparison_stats.items %}{{ value }}, {% endfor %}];
    expensesChart.data.labels = expenseLabels;
    incomesChart.data.labels = incomeLabels;
    expensesChart.data.datasets[0].data = expenseData;
    incomesChart.data.datasets[0].data = incomeData;
    comparisonChart.data.datasets[0].data = comparisonData;
    expensesChart.update();
    incomesChart.update();
    comparisonChart.update();
</script>