<script id="payment-plan-chart-script">

  const dataPaymenPlan = {
    datasets: [{
      data: [{% for item in payment_plan %}{x:'{{item.0}}', y:{{ item.1 }}}, {% endfor %}],
      borderColor: 'rgb(75, 192, 192)',
    }]
  };

  const configPaymentPlan = {
    type: 'line',
    data: dataPaymenPlan,
    options: {
        responsive: true,
        plugins: {
          legend: {
            display: false
          },
        },
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'month'
            },
          },
          
          y: {
            min: 0,
            max: 3000,
            title: {
              display: true,
              text: '{{object.currency}}'
            }
          },
          
        },
      }
  };

  const paymentPlanCtx = document.querySelector('#paymentPlanChart');
  const paymentPlanChart = new Chart(paymentPlanCtx, configPaymentPlan);
</script>