<script id="payment-plan-chart-script">

  const dataPaymenPlan = {
    datasets: [{
      data: [{% for item in payment_plan %}{x:'{{item.0}}', y:{{ item.1 }}}, {% endfor %}],
      borderColor: 'rgb(75, 192, 192)',
      backgroundColor: '#729ece',
      label: "Payment Values ({{card.currency}})"
    }]
  };

  const configPaymentPlan = {
    type: 'bar',
    data: dataPaymenPlan,
    options: {
      scales: {
        y: {
          title: {
            display: true,
            text: '{{card.currency}}'
          },
        },
      },
    }
  };

  const paymentPlanCtx = document.querySelector('#paymentPlanChart');
  const paymentPlanChart = new Chart(paymentPlanCtx, configPaymentPlan);
</script>