{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<form action={{post_url}} method="POST" id="form-transfer">
    {% csrf_token %}
    {{ transfer_form.from_account|as_crispy_field }}
    {{ transfer_form.to_account|as_crispy_field }}
    <!-- Added prepend feature to from_amount and to_amount fields -->
    {% crispy_addon transfer_form.from_amount prepend='-' %}
    {% crispy_addon transfer_form.to_amount prepend='-' %}
    {{ transfer_form.date|as_crispy_field }}
    <div class="d-grid gap-2 my-4">
        <input type="submit" name="submit-transfer" value="Submit" class="btn btn-outline-primary">
    </div>
</form>

{{ account_data|json_script:'account-data' }}
<script src="{% static 'main/form_transfer.js' %}"></script>