{% extends 'main/user_layout.html' %}
{% load static %}
{% block title %}
    <title>Ins / Outs</title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center my-3">
        {% include 'main/time_select_buttons.html' %}
    </div>
    <div class="row justify-content-center">
        {% include 'main/group_report_chart.html' %}
    </div>
</div>
{% include 'main/chart_modal.html' %}

{% endblock %}
{% block script %}
    <script src="{% static 'main/ins_outs.js' %}"></script>
    {% include 'main/ins_outs_chart_script.html' %}
{% endblock %}