{% extends 'main/user_layout.html' %}
{% load static %}
{% block title %}
    <title>Ins / Outs</title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center my-3">
        {% include 'main/time_select_buttons.html' %}
    </div>
    <div class="row justify-content-center">
        <div class="col-6 text-center bg-light p-3 border-end">
            <h4> Report Table </h4>
            <div id="report-table" data-time="all">
                {% include 'main/table_report.html' %}
            </div>
            <div id="table-paginator-group" data-time="all" class="py-2">
                <h4>Transactions</h4>
                {% with show_category=True %}
                {% with table_template='main/table_transactions.html' %}
                    {% include 'main/group_table_paginator.html' %}
                {% endwith %}   
                {% endwith %}   
            </div>
        </div>
        <div class="col-6 text-center bg-light p-3 ">   
            <h4> Stats & Graphs</h4>
            {% include 'main/expense_income_comparison_charts.html' %}
        </div>
    </div>
</div>
{% include 'main/chart_modal.html' %}
{% with modal_title='Delete Transaction' %}
{% with modal_message='Do you really want to delete this transaction? Account balance will be withdrawn.' %}
{% with object_class='Transaction' %}
    {% include 'main/modal_delete_button.html'%}
{% endwith %}   
{% endwith %}   
{% endwith %}

{% endblock %}
{% block script %}
    <script src="{% static 'main/ins_outs.js' %}" type="module"></script>
    {% include 'main/ins_outs_chart_script.html' %}
{% endblock %}