{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show auto-hide-alert" role="alert">
        {% elif message.tags == "error" %}
            <div class="alert alert-warning alert-dismissible fade show auto-hide-alert" role="alert">
        {% endif %}
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <!-- <span aria-hidden="true">&times;</span> -->
                </button>
            </div>
    {% endfor %}
{% endif %}