<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Wallet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'main:index' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'main:categories' %}">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'main:accounts' %}">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'main:ins_outs' %}">Ins/Outs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'main:worth' %}">Net Worth</a>
        </li>
        {% if user.is_guest %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'main:register' %}">Register</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" onclick="document.querySelector('#logout-form').submit()" style="cursor:pointer">Logout</a>
          <form action="{% url 'main:logout' %}" id="logout-form" method="POST" class="d-none">
            {% csrf_token %}
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'main:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'main:register' %}">Register</a>
        </li>
        {% endif %}

      </ul>
      {% if user.is_authenticated %}

      <span>
        <div class="btn-group mx-2">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            {% if user.is_guest %}
              Guest
            {% else %}
              {{user.username}}
            {% endif %}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'main:profile' %}">My Profile</a></li>
          </ul>
        </div>
      </span>
      {% endif %}
    </div>
  </div>
</nav>