<table class="table">
    <thead>
        <tr>
            <th scope="col">Currency</th>
            <th scope="col">Expenses</th>
            <th scope="col">Incomes</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for data in report %}
            <tr>
                <td>{{data.currency}}</td>
                <td class="text-danger">-{{data.expense}}</td>
                <td class="text-success">+{{data.income}}</td>
                {% if data.balance < 0 %}
                    <td class="text-danger">{{data.balance}}</td>
                {% else %}    
                    <td class="text-success">+{{data.balance}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        <tfoot>
            <tr class="table-active" style="font-weight:bold;">
                <td>Total in {{total.currency}}</td>
                <td class="text-danger">-{{total.expense}}</td>
                <td class="text-success">+{{total.income}}</td>
                {% if total.balance < 0 %}
                    <td class="text-danger">{{total.balance}}</td>
                {% else %}
                    <td class="text-success">+{{total.balance}}</td>
                {% endif %}
            </tr>
        </tfoot>
    </tbody>
</table>