{% load static %}
<div class="container-fluid bg-light w-100 px-3 py-1 animate-table" id="transfers_table_div">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <!-- <th class="align-middle col-md-1" scope="col">#</th> -->
                <th class="align-middle col-md-2" scope="col">Date</th>
                <th class="align-middle col-md-2" scope="col">From</th>
                <th class="align-middle col-md-2" scope="col">Amount</th>
                <th class="align-middle col-md-2" scope="col">To</th>
                <th class="align-middle col-md-2" scope="col">Amount</th>
                {% if not table_min %}
                    <th class="align-middle col-md-1 text-center" scope="col">Edit</th>
                    <th class="align-middle text-center col-md-1" scope="col">Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if not transfers %}
            <tr>
                <td colspan="5" class="table-info">No transfers available.</td>
            </tr>
            {% endif %}
            {% for transfer in transfers %}
            <tr>
                <td>{{ transfer.date|date:"d.m.y" }}</td>
                <td>{{ transfer.from_transaction.content_object }}</td>
                <td class="text-danger">-{{ transfer.from_transaction.amount }}
                    {{ transfer.from_transaction.content_object.currency.symbol }}</td>
                <td>{{ transfer.to_transaction.content_object }}</td>
                <td class="text-success">+{{ transfer.to_transaction.amount }}
                    {{ transfer.to_transaction.content_object.currency.symbol }}</td>
                {% if not table_min %}
                    <td style="text-align: center;" class="align-middle">
                        <a href=""><i class="bi bi-pencil-square"></i></a> 
                    </td>
                    <td style="text-align: center;" class="align-middle">
                        <button type="button" class="btn px-0 delete-transfer-button" data-bs-toggle="modal"
                            data-bs-target="#deleteTransferModal" data-id="{{transfer.id}}"
                            data-url="{% url 'main:delete_transfer' pk=transfer.id %}">   
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>