{% load static %}
<div class="container-fluid bg-light w-100 px-3 py-1 animate-table" id="transactions_table_div">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th class="align-middle col-md-1" scope="col">#</th>
            <th class="align-middle col-md-2" scope="col">From</th>
            <th class="align-middle col-md-3" scope="col">Amount</th>
            <th class="align-middle col-md-3" scope="col">To</th>
            <th class="align-middle col-md-3" scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
            {% if not transfers %}
                <tr><td colspan="5" class="table-info">No transfers available.</td></tr>
            {% endif %}
            {% for transfer in transfers %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ transfer.from_transaction.account }}</td>
                    <td>{{ transfer.from_transaction.amount }}{{ transfer.from_transaction.account.currency.symbol }}</td>
                    <td>{{ transfer.to_transaction.account }}</td>
                    <td>{{ transfer.to_transaction.amount }}{{ transfer.to_transaction.account.currency.symbol }}</td>                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
