{% load static %}
<div class="container-fluid bg-light w-100 px-3 py-1 animate-table" id="transactions_table_div">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th class="align-middle col-md-1" scope="col">#</th>
            <th class="align-middle col-md-2" scope="col">Type</th>
            <th class="align-middle col-md-3" scope="col">Description</th>
            <th class="align-middle col-md-3" scope="col">Amount</th>
            <th class="align-middle col-md-3" scope="col">Account</th>
        </tr>
        </thead>
        <tbody>
            {% if not transactions %}
                <tr><td colspan="5" class="table-info">No transactions available.</td></tr>
            {% endif %}
            {% for transaction in transactions %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ transaction.get_type }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.amount }}{{ transaction.account.currency.symbol }}</td>
                    <td>{{ transaction.account }}</td>                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
