{% extends 'main/user_layout.html' %}
{% load static %}
{% block style %}
{% endblock style %}
{% block title %}
    <title>Transfers</title>
{% endblock %}
{% block body %}
    <div class="container py-5">
        
        {% include 'main/group_table_time_paginator.html' with table_template='main/table_transfers.html' %}
    </div>
    {% include 'main/transfer_delete_modal.html' %}   
{% endblock body %}
{% block script %}
    <script src="{% static 'main/transfers.js' %}"></script>
{% endblock %}