{% extends 'main/user_layout.html' %}
{% load static %}
{% block style %}
{% endblock style %}
{% block title %}
    <title>Transactions</title>
{% endblock %}
{% block body %}
    <div class="container py-5">
        {% with table_template='main/table_transactions.html' %}
        {% with table_title='Transactions' %}
        {% with show_account=True %}
            {% include 'main/group_table_time_paginator.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
    {% with modal_title='Delete Transaction' %}
    {% with modal_message='Do you really want to delete this transaction? Account balance will be withdrawn.' %}
    {% with object_class='Transaction' %}
        {% include 'main/modal_delete_button.html'%}
    {% endwith %}   
    {% endwith %}   
    {% endwith %}   
{% endblock body %}
{% block script %}
    <script src="{% static 'main/transactions.js' %}" type="module"></script>
{% endblock %}