{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% block body %}

    <h1>My wallet</h1>
    <h3>You are logged in as {{user.username}}</h3>
    <div class="container-lg bg-light py-3">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3>Accounts</h3>
                {% include 'main/table_accounts.html' %}
                <div class="d-flex px-3">
                    <a href="{% url 'main:create_account' %}" class="btn btn-outline-primary">Add New Account</a>
                </div>
                
            </div>
            <div class="col-lg-6 text-center">
                <h3>Transactions</h3>
                <div class="row">
                    <div class="col-6 text-start">
                        <h4>Input Expense</h4>
                        <form action="{% url 'main:expense_create' %}" method="POST">
                            {% csrf_token %}
                            {{ expense_form|crispy }}
                            <div class="d-grid gap-2 my-4">
                                <input type="submit" value="Submit" class="btn btn-outline-primary">
                            </div>
                        </form>
                    </div>
                    <div class="col-6 text-start">
                        <h4>Input Income</h4>
                        <form action="{% url 'main:income_create' %}" method="POST">
                            {% csrf_token %}
                            {{ income_form|crispy }}
                            <div class="d-grid gap-2 my-4">
                                <input type="submit" value="Submit" class="btn btn-outline-primary">
                            </div>
                            
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}