<script id="chart-script">
  const colors = ['#729ece', '#ff9e4a', '#67bf5c', '#ed665d', '#ad8bc9', '#a8786e', '#ed97ca', '#a2a2a2', '#cdcc5d', '#6dccda']
  const yAxisPositions = ['left', 'right']
  const dataWorth = {
    datasets: [
      {% for currency, currency_stats in stats.items %}
        {
        label: '{{currency}}',
        data: [{% for values in currency_stats %}{x:'{{values.0}}', y:{{ values.1 }}}, {% endfor %}],
        // data: [{% for key, value in currency_stats.items %}{x:'{{key}}', y:{{ value }}}, {% endfor %}],
        // borderColor: 'rgb(75, 192, 192)',
        yAxisID: 'y{{forloop.counter}}',
        borderColor: colors[{{forloop.counter0}} % colors.length],
        backgroundColor: colors[{{forloop.counter0}} % colors.length],
        },

      {% endfor %}
  ]
  };

  const configWorth = {
    type: 'line',
    data: dataWorth,
    options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: 'Monthly Net Worth'
          }
        },
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'month'
            },
          },
          {% for currency, currency_stats in stats.items %}
            y{{forloop.counter}}: {
              min: 0,
              ticks: {
                color: colors[{{forloop.counter0}} % colors.length],
              },
              type: 'linear',
              display: true,
              position: yAxisPositions[{{forloop.counter}}%2],
              title: {
                display: true,
                text: '{{currency}}',
                color: colors[{{forloop.counter0}} % colors.length],
              }
            },
          {% endfor %}
        },
      }
  };

  const worthCtx = document.querySelector('#worthChart');
  const worthChart = new Chart(worthCtx, configWorth);
</script>