<script id="chart-script">
  const colors = ['#729ece', '#ff9e4a', '#67bf5c', '#ed665d', '#ad8bc9', '#a8786e', '#ed97ca', '#a2a2a2', '#cdcc5d', '#6dccda'];
  const yAxisPositions = ['left', 'right'];
  const now = Date.now();
  function addMonths(numOfMonths, date = new Date()) {
    date.setMonth(date.getMonth() + numOfMonths);
    return date
  };
  const minDate = addMonths(-6);
  const maxDate = addMonths(2);

  const dataWorth = {
    datasets: [
      {% for currency, currency_stats in stats.items %}
        {
        label: '{{currency}}',
        data: [{% for values in currency_stats %}{x:'{{values.0}}', y:{{ values.1 }}}, {% endfor %}],
        yAxisID: 'y{{currency}}',
        borderColor: colors[{{forloop.counter0}} % colors.length],
        backgroundColor: colors[{{forloop.counter0}} % colors.length],
        },

      {% endfor %}
      {% for currency, currency_stats in total_stats.items %}
        {
        label: 'Total({{currency}})',
        data: [{% for values in currency_stats %}{x:'{{values.0}}', y:{{ values.1 }}}, {% endfor %}],
        yAxisID: 'y{{currency}}',
        borderColor: '#ed665d',
        backgroundColor: '#ed665d',
        borderWidth: 3,
        },

      {% endfor %}
      
  ]
  };

  const configWorth = {
    type: 'line',
    data: dataWorth,
    options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: 'Monthly Net Worth by Currency'
          }
        },
        scales: {
          x: {
            min: minDate,
            max: maxDate,
            type: 'time',
            time: {
              unit: 'month'
            },
          },
          {% for currency, currency_stats in stats.items %}
            y{{currency}}: {
              suggestedMin: 0,
              ticks: {
                color: colors[{{forloop.counter0}} % colors.length],
                callback: function(value, index, ticks) {
                  return '{{currency.symbol}}' + value;
                },
              },
              type: 'linear',
              display: true,
              position: yAxisPositions[{{forloop.counter0}}%2],
              title: {
                display: true,
                text: '{{currency}}',
                color: colors[{{forloop.counter0}} % colors.length],
              }
            },
          {% endfor %}
        },
      }
  };

  const worthCtx = document.querySelector('#worthChart');
  const worthChart = new Chart(worthCtx, configWorth);
</script>