<script id="chart-script">

  const dataWorth = {
    datasets: [
      {% for currency, currency_stats in stats.items %}
        {
        label: '{{currency}}',
        data: [{% for key, value in currency_stats.items %}{x:'{{key}}', y:{{ value }}}, {% endfor %}],
        borderColor: 'rgb(75, 192, 192)',
        // yAxisID: 'y',
        },
      {% endfor %}
  ]
  };

  const configWorth = {
    type: 'line',
    data: dataWorth,
    options: {
        responsive: true,
        plugins: {
          legend: {
            display: false
          },
        },
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'month'
            },
          },
          
          y: {
            min: 0,
            max: 20000,
            
            title: {
              display: true,
              text: 'hello'
            },
          },
        },
      }
  };

  const worthCtx = document.querySelector('#worthChart');
  const worthChart = new Chart(worthCtx, configWorth);
</script>